
.menu-button {
    background-color: #0ABAB5;
    border-color: #0ABAB5;
    color: #ffffff;
    display: flex;
    align-items: center;
  }
  
  .menu-button:hover,
  .menu-button:focus {
    background-color: #00FFFF;
    border-color: #00FFFF;
    color: #ffffff;
  }
  
  h1 {
    color: #7B64BD;
  }
  
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-button img {
    margin-right: 10px;
    max-height: 30px;
    max-width: 30px;
  }

  .sintomas-div {
    display: none;
    padding: 20px;
    background-color: #FFFFFF;
    color: #000000;
}

/* Estilo para manter o menu fixo no topo */
.container {
    position: relative;
  }
  
  .btn-group-vertical {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .sintomas-div {
    margin-top: 80px; /* Ajuste o valor conforme necessário para evitar sobreposição com o menu */
  }
  