* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #0abab5;
  height: 8vh;
}

.nav-list {
  margin-top: 5px;
  list-style: none;

}


a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;

}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

body {

    background-color: lightcyan;

}

h1 {
  text-align: center;
  font-size: 30px;
  color: rgb(138, 138, 138);
  grid-area: title;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.accordion {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .card {
    border: none;
  }
  
  .card-header {
    background-color: #0ABAB5;
  }
  
  .card-header button {
    color: #fff;
  }
  
  .card-body {
    background-color: rgb(223, 223, 223);
    color: rgb(37, 37, 37);
  }
  
