* {
  margin: 0;
  padding: 0;
}
body {
    
    background-color: lightcyan;

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #0abab5;
  height: 8vh;
}



.nav-list {
  margin-top: 5px;
  list-style: none;
  
}


a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;

}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h5 {

  color:#fff;
  
}

button {

box-shadow:  4px 0px 4px rgba(0, 0, 0, 0.25);

}

.media {
display: block;
border: none;
text-align: center;  
width: 50%;
margin-bottom: 10px;
margin-left: 28%;
margin-top: 20px;
flex-direction:column;
justify-content:center;
align-items: center;
padding: 5px;
border-radius: 50px;
background-color: #0abab5;

}

.media-body {
border-bottom: none;


}

.media:hover {
background-color: lightskyblue;
transition: transform 0.7s;
}


@media (max-width: 999px) {
  body {
    
    width: 100%;
    margin: auto;
    padding: 5;
  }

 
}

.imgRedonda{
  border-radius:50%;
  
}