.accordion {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .card {
    border: none;
  }
  
  .card-header {
    background-color: #0ABAB5;
  }
  
  .card-header button {
    color: #fff;
  }
  
  .card-body {
    background-color: #00FFFF;
    color: #000;
  }
  